body{
    font-family: "Arial";
    color: 'black';
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.flex_column {
    flex: 1;
    flex-basis: 0;
    width: 50%;
}

.centered {
    text-align: center;
}